[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
torchvision = "*"
ipykernel = "*"
matplotlib = "*"
sklearn = "*"
sacred = "==0.7.4" #{git = "https://github.com/IDSIA/sacred.git"} #{git = "https://github.com/IDSIA/sacred.git", ref="d51d1a1a763c83ffc1cd88e60ff9df79499b3b875"} 
tqdm = "*"
scikit-optimize = "*"
pandas = "*"
tadasets = "*"
umap-learn = "*"
seaborn = "*"
requests = "*"
gitpython = "*"
gputil = "*"
multicoretsne = "*"

[requires]
python_version = "==3.6"

[scripts]
install_aleph = "cd Aleph/build/bindings/python/aleph && pip install ."
